/* Reset CSS */
p, h1, h2, h3, h4, h5, h6, body, div {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* \Reset CSS */

/* Шрифт */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&display=swap&subset=cyrillic');

/* \Шрифт */

/* Общие стили */

body {
    overflow-x: hidden;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 1.4vw;
}


a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
    color: #fff;
}

h2 {
    font-size: 2.5rem;
    color: #252525;
    font-weight: 700;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 0 0 0 .5rem;
}

li:hover {
    border-bottom: 1px solid #609e29;
    transition: .2s;
}

.container {
    max-width: 51.5rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.simple-text {
    font-size: .7rem;
}

input {
    border-radius: .3rem;
}

/* \Общие стили */

/* Первый экран */

.change-color:hover {
    color: #609e29;
    
}

.first-screen__background {
    min-height: 100vh;
    background-image: url(../images/top_bg.jpg);
    background-attachment: scroll; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 17.65rem;
}

.first-screen__background::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 5.5rem solid #fff;
}

.first-screen__logo {
    float: left;
    width: 25%;
}

.first-screen__logo img {
    width: 9.4rem;
}

.first-screen__menu {
    
    float: left;
    width: 50%;
    margin-bottom: 7.7rem;
}

.first-screen__city {
    padding-top: .65rem;
    float: left;
    text-align: right;
    width: 18%;
}

.city-text {
    font-size: .75rem;
    font-weight: 100; 
    color: #fff;
}

.first-screen__city a {
    font-size: .75rem;
    font-weight: 100;
    text-transform: initial;
}

.navigation {
    font-size: .75rem;
    font-weight: 100;
    text-transform: uppercase;
    
}

.first-screen__main-row1 {
    
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
    color: #fff;
    clear: both;
}

.first-screen__main-row2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

/* \Первый экран */

/* Второй экран */

.second-screen {
    position: relative;
}

.welcome {
    position: absolute;
    background: #fff;
    width: 25.75rem;
    padding: 2rem 1.6rem;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    top: -6.65rem;
    right: 0;
    z-index: 1;
}

.welcome__head {
    color: #252525;
    font-size: 2rem;
    font-weight: 900;
}

.welcome__text {   
    font-weight: 300;
    color: #252525;
    margin-top: 1.35rem;
    line-height: 1.2; 
}

.welcome__text2 { 
    font-weight: 300;
    color: #252525;
    margin-top: .85rem;
    line-height: 1.2; 
}

.why-us {
    position: absolute;
    top: 3.9rem;
    left: 0;
}

.advantage-block {
    padding-top: 13.1rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.advantage {
    flex-basis: 33.33%;
    margin-bottom: .5rem;
}

.advantage__img-wrap {
    height: 10.55rem;
    position: relative;
    margin: 0 0 1.75rem;
    
}

.img-screen {
    padding: 0 1rem;
    position: absolute;
    width: 9.5rem;
    left: 1.7rem;
    top: 0rem;
}

.img-sound {
    padding: 0 1rem;
    position: absolute;
    width: 9.9rem;
    left: 3.45rem;
    top: 0rem; 
}

.img-chair {
    padding: 0 1rem;
    position: absolute;
    width: 10rem;
    left: 4rem;
    top: 1.3rem;
}

.scale img {
    transition: .2s;
}

.scale img:hover {
    transform: scale(1.07);
}

.advantage-head1 {
    font-size: 1.75rem;
    color: #252525;
    font-weight: 700;
    padding-right: 2.3rem;
    
}

.advantage-head2 {
    font-size: 1.75rem;
    color: #252525;
    font-weight: 700;
}

.advantage-head3 {
    font-size: 1.75rem;
    color: #252525;
    font-weight: 700;
    padding-left: 2.6rem;
}

.advantage-text1 {
    font-weight: 300;
    padding: .7rem 2.3rem 0rem 0rem;
    color: #252525;
    line-height: 1.2; 
    text-align: center;

}

.advantage-text2 {
    font-weight: 300;
    padding-top: .7rem;
    color: #252525;
    line-height: 1.2; 
    text-align: center;

}

.advantage-text3 {
    font-weight: 300;
    padding: .7rem 0rem 0rem 2.6rem;
    color: #252525;
    line-height: 1.2; 
    text-align: center;

}

/* \Второй экран */

/* Таблица */

.movie-list {
    padding: 5.5rem 0 7.55rem;
    clear: left;
}

.movie-list__header {
    font-size: 2.5rem;
    color: #252525;
    font-weight: 700;
    margin: 0 0 3.9rem;
    text-align: center;
}

.movie-list__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: .75rem;
    overflow: hidden;
}


.movie-list__head1 {
    text-align: center;
    width: 15rem;
    vertical-align: middle;
}

.movie-list__head1::after {
    content: "";
    margin-left: .25rem;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 .35rem .7rem .35rem;
    border-color: transparent transparent #fff transparent;
}

.movie-list__head2 {
    width: 17.5rem;
    text-align: left;
    vertical-align: middle;
}

.movie-list__head2::after {
    content: "";
    margin-left: .25rem;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .7rem .35rem 0 .35rem;
    border-color: #fff transparent transparent transparent;
}

.movie-list__head3 {
    width: 22.3rem;
    text-align: left;
    vertical-align: middle;
}

.movie-list__head4 {
    width: 35.rem;
    text-align: left;
    vertical-align: middle;
}

.col1 {
    padding: 1.25rem 0;
    text-align: center;
    vertical-align: top;
}

.col2 {
    padding: 1.25rem 0;
    vertical-align: top;
}

.col3 {
    width: 7rem;
}

.col4 {
    padding: .85rem .5rem;
    text-align: center;
    vertical-align: top;
    width: 1.65rem;
}

.col4 svg {
    width: 1.65rem;
}

.movie-list tr {
    background: #252525;
    font-size: 1.1rem;
    padding: 1rem 0;
    color: #fff;
}

.movie-list tr:nth-child(3n + 2) {
    background: #4b4d4f;
    font-size: 1.1rem;
    padding: 1rem 0;
    color: #fff;
}

.movie-list tr:nth-child(3n + 3) {
    background: #6c6c6c;
    font-size: 1.1rem;
    padding: 1rem 0;
    color: #fff;
}

.movie-list th {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    padding: 1rem 0 1rem 1.45rem;
}

.movie-list__text {
    color: #252525;
    font-weight: 300;
    text-align: center;
    padding-top: 2.1rem;
}

#tableBody tr:hover td,
#tableBody tr:hover a {
    color: #a3cc40;
    cursor: pointer;
}

/* \Таблица */

/* Форма заказа */

#orderFormWrap {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    padding-top: 6rem;
    top: 0;
    left: 0;
    display: none;
}

#orderForm {
    background: #fff;
    margin: 0 auto;
    width: 30rem;
    position: relative;
    border-radius: 1rem; 
    padding: 2.6rem 0;   
}

#thanksForOrderWrap {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    padding-top: 10rem;
    top: 0;
    left: 0;
    display: none;
}

#thanksForOrder {
    background: #fff;
    margin: 0 auto;
    width: 30rem;
    position: relative;
    border-radius: 1rem; 
    padding: 2.6rem 0; 
    text-align: center;
}

#closeButton {
    font-weight: .7rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.order-atribute {
    padding: .3rem;
    font-size: 1rem;
}

.film-order__button {
    padding-top: 1.2rem;
    text-align: center;
}
/* \Форма заказа */


/* Блок подарок */

.present-block__background {
    background-image: url(../images/b4_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 35rem;
    position: relative;
}

.present-block__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-right: 100vw solid transparent;
    border-top: 6.2rem solid #fff;
}

.present-block__background::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 6rem solid #fff;
}

.present-block__head {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    text-align: right;
    float: right;
    padding-top: 6.75rem;
    
}

.present-block__img {
    position: absolute;
    top: -3.35rem;
}

.present-block__img img {
    width: 17.8rem;
}

.present-block__text {
    clear: both;
    padding-top: 2rem;
    font-weight: 300;
    color: #fff;
    text-align: right;
    margin-bottom: .9rem;
    padding-right: .15rem;;
}

.present-block__text p {
    padding-top: 0.9rem;
}

.present-block__button {
    text-align: right;
    padding-top: .9rem;
}

.button {
    font-size: .9rem;
    color: #fff;
    background: #a3cc40;
    border-radius: .75rem;
    padding: .9rem 1.6rem;
    border: 0;
    cursor: pointer;
}

/* \Блок подарок */

/* Сетка с фильмами */

.films-grid__head {
    font-size: 2.5rem;
    width: 700;
    color: #252525;
    padding: 4.1rem 0 0 1.45rem;
}

.films-grid__text {
    width: 300;
    color: #252525;
    padding: 2rem 1.6rem;
    margin-bottom: 1.4rem;
}

.films-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.05rem;
    grid-row-gap: .95rem;
    padding: 0 1.1rem;
    margin-bottom: 4.6rem;
}

.films-grid__item {
   padding: .5rem;
}

.films-grid__description svg {
    width: 1.6rem;
    padding: 0 .15rem;
}

.films-grid__inner {
    position: relative;
    overflow: hidden;
}

.films-grid__poster {
    height: 14.74rem;
}

.films-grid__poster img {
    width: 14.75rem;
} 

.films-grid__description {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: rgba(144, 210, 61,.8);
    border-radius: .55rem;
    padding: 1.15rem;
    display: flex;
    flex-direction: column;
    transition: .2s;
    box-sizing: border-box;
} 

.films-grid__item:hover .films-grid__description {
    bottom: 0;
}

.films-grid__name {
    font-size: 1.75rem;
    font-weight: 900;
    color: #fff;
    margin: 0 0 .5rem;
}

.films-grid__hr {
    width: 4.25rem;
    height: .3rem;
    border: 0;
    box-shadow: none;
    margin: 0 0 .45rem;
    background: #fff;
}

.films-grid__text2 {
    font-size: .9rem;
    color: #fff;
    font-weight: 300;
    flex: 1;
    
}
.films-grid__item:nth-last-child(1) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
/* \Сетка с фильмами */

/* Карта */
.map {
    margin-top: 3.2rem;
}

/* \Карта */

/* Подвал */

.footer {
    background: #90d23d;
    height: 11rem;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}  

.links {
   padding-top: 3rem;
}


.footer-link {
    display: inline-block;
    padding: 0 .2rem;
}

.footer-link svg {
    width: 2.3rem;
    filter: url(#Filter_1);
}

.footer-link svg:hover {
    filter: url(#Filter_2);
}

.footer-text {
    font-size: .9rem;
    color: #fff;
    font-weight: 300;
    padding: 1.25rem;
}

/* \Подвал */