p, h1, h2, h3, h4, h5, h6, body, div {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&display=swap&subset=cyrillic');

body {
    overflow-x: hidden;
}


a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 80px;
    text-align: center;
    font-weight: 100;
    color: #fff;
}

h2 {
    font-size: 50px;
    color: #252525;
    font-weight: 700;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 0 0 0 10px;
}

li:hover {
    border-bottom: 1px solid #609e29;
    transition: .2s;
}

.container {
    width: 1030px;
    margin: 0 auto;
    box-sizing: border-box;
}


.change-color:hover {
    color: #609e29;
    
}

.first-screen__background {
    background-image: url(../images/top_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
    position: relative;
    padding-top: 50px;
    padding-bottom: 353px;
}

.first-screen__background::after {
    content: "";
    background: #fff;
    position: absolute;
    height: 208px;
    width: 102%;
    transform: rotate(-5deg);
    bottom: -147px;
    left: 0px;
    overflow: hidden;
}

.first-screen__logo {
    
    float: left;
    width: 25%;
}

.first-screen__menu {
    
    float: left;
    width: 50%;
    margin-bottom: 154px;
}

.first-screen__city {
    padding-top: 13px;
    float: left;
    text-align: right;
    width: 18%;
}

.city-text {
    font-size: 15px;
    font-weight: 100; 
    color: #fff;
}

.first-screen__city a {
    font-size: 15px;
    font-weight: 100;
    text-transform: initial;
}

.navigation {
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    
}

.first-screen__main-row1 {
    
    font-size: 80px;
    text-align: center;
    font-weight: 100;
    color: #fff;
    clear: both;
}

.first-screen__main-row2 {
    font-size: 50px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.second-screen {
    position: relative;
}

.welcome {
    position: absolute;
    background: #fff;
    width: 515px;
    padding: 40px 32px;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    top: -133px;
    right: 0;
    z-index: 1;
}

.welcome__head {
    color: #252525;
    font-size: 40px;
    font-weight: 900;
}

.welcome__text {
    font-size: 14px;
    font-weight: 300;
    color: #252525;
    margin-top: 27px;
    line-height: 1.2; 
}

.welcome__text2 {
    font-size: 14px;
    font-weight: 300;
    color: #252525;
    margin-top: 17px;
    line-height: 1.2; 
}

.why-us {
    position: absolute;
    top: 78px;
    left: 0;
}

.advantage-block {
    padding-top: 268px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.advantage {
    flex-basis: 33.33%;
    margin-bottom: 10px;
}

.advantage__img-wrap {
    height: 211px;
    position: relative;
    margin-bottom: 25px;
}

.img-screen {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0px;
    right: 44px;
    margin: auto;
}


.scale img {
    transition: .2s;
}

.scale img:hover {
    transform: scale(1.07);
}

.img-sound {
    position: absolute;
    top: 0;
    bottom: 24px;
    left: 30px;
    right: 0px;
    margin: auto;
}

.img-chair {
    position: absolute;
    top: 4px;
    bottom: 0px;
    left: 44px;
    right: 0px;
    margin: auto;
}

.advantage-head1 {
    font-size: 35px;
    color: #252525;
    font-weight: 700;
    padding-right: 46px;
    
}

.advantage-head2 {
    font-size: 35px;
    color: #252525;
    font-weight: 700;
    padding: 2px 3px 0px 0px;
}

.advantage-head3 {
    font-size: 35px;
    color: #252525;
    font-weight: 700;
    padding: 2px 0px 0px 46px;
}

.advantage-text1 {
    font-size: 14px;
    font-weight: 300;
    padding: 16px 47px 0px 0px;
    color: #252525;
    line-height: 1.2; 
    text-align: center;

}

.advantage-text2 {
    font-size: 14px;
    font-weight: 300;
    padding: 13px 2px 0px 0px;
    color: #252525;
    line-height: 1.2; 
    text-align: center;

}

.advantage-text3 {
    font-size: 14px;
    font-weight: 300;
    padding: 14px 0px 0px 43px;
    color: #252525;
    line-height: 1.2; 
    text-align: center;

}

.movie-list {
    padding: 110px 0 151px;
    clear: left;
}

.movie-list__header {
    font-size: 50px;
    color: #252525;
    font-weight: 700;
    margin: 0 0 78px;
    text-align: center;
}

.movie-list__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}


.movie-list__head1 {
    text-align: center;
    width: 300px;
    vertical-align: middle;
}

.movie-list__head1::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent #fff transparent;
}

.movie-list__head2 {
    width: 350px;
    text-align: left;
    vertical-align: middle;
}

.movie-list__head2::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 7px 0 7px;
    border-color: #fff transparent transparent transparent;
}

.movie-list__head3 {
    width: 350px;
    text-align: left;
    vertical-align: middle;
}

.movie-list__head4 {
    width: 70px;
    text-align: left;
    vertical-align: middle;
}

.col1 {
    padding: 25px 0 24px 0;
    text-align: center;
    vertical-align: top;
}

.col2 {
    padding: 25px 0 24px 15px;
    vertical-align: top;
}

.col3 {
    width: 140px;
}

.col4 {
    padding: 25px 32px 0 0;
    text-align: center;
    vertical-align: top;
}

.movie-list tr {
    background: #252525;
    font-size: 22px;
    padding: 20px 0;
    color: #fff;
}

.movie-list tr:nth-child(2) {
    background: #4b4d4f;
    font-size: 22px;
    padding: 20px 0;
    color: #fff;
}

.movie-list tr:nth-child(3) {
    background: #6c6c6c;
    font-size: 22px;
    padding: 20px 0;
    color: #fff;
}

.movie-list th {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    padding: 20px 0 20px 45px;
}

.movie-list__text {
    font-size: 14px;
    color: #252525;
    font-weight: 300;
    text-align: center;
    padding-top: 38px;
}


.present-block__background {
    background-image: url(../images/b4_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 700px;
    position: relative;
}

.present-block__background::before {
    content: "";
    height: 138px;
    width: 102%;
    background: #fff;
    transform: rotate(-5deg);
    top: -80px;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.present-block__background::after {
    content: "";
    height: 113px;
    width: 102%;
    background: #fff;
    transform: rotate(-4deg);
    bottom: -50px;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.present-block__head {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    text-align: right;
    float: right;
    padding-top: 135px;
    
}

.present-block__img {
    position: absolute;
    top: -67px;
}

.present-block__text {
    clear: both;
    padding-top: 54px;
}

.present-block p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-align: right;
    margin-bottom: 18px;
    padding-right: 3px;
}

.present-block__button {
    text-align: right;
    padding-top: 18px;
}

.button {
    font-size: 18px;
    color: #fff;
    background: #a3cc40;
    border-radius: 15px;
    padding: 16px 32px;
    border: 0;
}

.films-grid__head {
    font-size: 50px;
    width: 700;
    color: #252525;
    padding: 82px 0 0 29px;;
}

.films-grid__text {
    font-size: 14px;
    width: 300;
    color: #252525;
    padding: 35px 0 29px;
    margin-bottom: 40px
}

.films-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 17px;
    padding: 0 22px
}

.films-grid__item {
   padding: 10px;
}

.films-grid__inner {
    position: relative;
    overflow: hidden;
}

.films-grid__description {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: rgba(144, 210, 61,.8);
    border-radius: 11px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    transition: .2s;
    box-sizing: border-box;
} 

.films-grid__item:hover .films-grid__description {
    bottom: 0;
}

.films-grid__name {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    margin: 0 0 10px;
}

.films-grid__hr {
    width: 85px;
    height: 6px;
    border: 0;
    box-shadow: none;
    margin: 0 0 9px;
    background: #fff;
}

.films-grid__text2 {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    flex: 1;
}

.map {
    margin-top: 64px;
}

.footer {
    background: #90d23d;
    height: 220px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}  

.links {
   padding-top: 57px;
}

.shadow {
    box-shadow: 1px 1px 2px -2px #000;
    border-radius: 100%;
}

.shadow:hover {
    box-shadow: none;
    transition: .2s;
}

.footer-link {
    display: inline-block;
    padding: 0 4px;
}

.footer-text {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    padding: 25px;
}